.aboutus-container{
    margin: 4rem 6rem;
    text-align: start;
}

.aboutus-container h1{
    padding-bottom: 1rem;
}

.aboutus-container p{
    padding-bottom: 2rem;
}

@media screen and (max-width: 900px){
    .aboutus-container{
        margin: 4rem 2rem;
    }
}